div(style="height:120px;margin:0 auto;wigth:autopadding-top:20px;padding-bottom:5px;",class="footer-div-b")
   div(style="padding-top:20px;padding-bottom:20px;") <img heigth="150px" width="150px" src ="/img/gongzhonghao.jpg">