div(style="height:120px;margin:0 auto;wigth:auto;",class="footer-div-b")
   div(style="padding-top:20px;")
     h3
       a(href="/href/")=__('href')
     h3
       a(href="/site/")=__('site')
     h3
       a(href="/about/")=__('about')