div(style="height:120px;margin:0 auto;wigth:auto;",class="footer-div-b")
   div(style="padding-top:20px;") 
   if theme.xzHao.enable
     div(style="padding-top:7px;padding-bottom:7px;") <img style="border-radius: 100px;border: none;" src="/img/touxiang02.jpg" width="60" height="60"><br>
     div(style="padding-top:7px;padding-bottom:7px;") 
       a(href=theme.xzHao.url,target="_Blank")=theme.xzHao.note
     div(style="padding-top:7px;padding-bottom:7px;") 
       a(style="background: #3897f0;padding: 8px 0;border-radius: 3% 3% 3% 3%;color:#FFFFFF",href=theme.xzHao.url,target="_Blank") &emsp;查看熊掌号&emsp;